{% extends "layout/base.html" %}

{% block title %}About{% endblock %}

{% block pageDescription -%}
Bookify is a fictionary website made for the purpose of learning web development.
{%- endblock %}

{% block content %}
<div class="container mt-3">
    <p class="lead text-primary">Bookify is a fictionary website made for learning web development.</p>
    <p class="text-secondary">It was made by Mehmet Eren Yeşilyurt for <a href="https://www.edx.org/course/cs50s-web-programming-with-python-and-javascript">HarvardX CS50's Web Programming with Python and Javascript</a> course on EDX.</p>
</div>
{% endblock %}